In [1]:
import pandas as pd

In [30]:
url = 'https://github.com/EnsekiTT/blog'
fetched_dataframes = pd.io.html.read_html(url, skiprows=1)

In [31]:
fetched_dataframes[0]

    0                1               2             3
0 NaN    20171026_STFT        二乗誤差追加した  Oct 26, 2017
1 NaN     20171027_GAN       MNIST生成した  Oct 31, 2017
2 NaN  20171028_rooter   ファイルの場所を変えました   Nov 2, 2017
3 NaN  20171102_binexp          動作確認した   Nov 2, 2017
4 NaN     20171103_GAN     Result結果を削除   Nov 3, 2017
5 NaN       .gitignore   Resultファイルを無視   Nov 3, 2017
6 NaN          LICENSE  Initial commit  Oct 26, 2017
7 NaN        README.md      Blogリンクを追加   Nov 2, 2017

In [ ]:
with pg.connect(database='DataSet',
                user='postgres',
                host='localhost',
                port=5432) as conn, conn.cursor() as cur:
    cur.execute('SELECT * FROM ')